/**
 * Base
 */

base-font-family = font-family
base-link-color = color-red
base-link-color-hover = color-purple
base-color = color-charcoal

/**
 * Comment
 */

Comment-background-color = color-purple
Comment-user-border-color = color-charcoal

/**
 * Post
 */

Post-background-color = color-gray
