/**
 * Custom properties specifically for overriding SUIT components
 */

/**
 * Set media queries here for the SUIT grid
 * Components can use these to react to grid changes, otherwise
 * they set their own breakpoints based on the content
 */
@css {
  @custom-media --sm-viewport (min-width: 36.25em);
  @custom-media --md-viewport (min-width: 49.375em);
  @custom-media --lg-viewport (min-width: 72.1875em);
}