/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components.
 */

/**
 * Colors
 */

/* Primary grays */
color-charcoal =          #292f33
color-dark-gray =         #66757f
color-medium-gray =       #8899a6
color-gray =              #ccd6dd
color-border-gray =       #e1e8ed
color-faint-gray =        #f5f8fa

/* Secondary colors */
color-orange =            #ffac33
color-green =             #77b255
color-purple =            #9266cc
color-red =               #dd2e44
color-yellow =            #ffcc4d

/**
 * Fonts
 */

font-family =             'Helvetica Neue', sans-serif