/** @define Comment; use strict */

@css {
  @import "suitcss-utils-display";
  @import "./avatar";
}

$Comment-bgColor = #aaa
$Comment-user-borderColor = #ddd

.Comment
  max-width 700px
  margin 1.5625rem
  background-color $Comment-bgColor

.Comment-user
  font-size .875rem
  border 1px solid $Comment-user-borderColor
