/** @define Avatar */

@css {
  @import "suitcss-utils-display";
}

:root
  --Avatar-img-border-radius: 5px

.Avatar
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #C4D0FF 100%)

.Avatar-img
  display: block
  border-radius: var(--Avatar-img-border-radius)
