/** @define Comment */

@require './functions';

@css {
  @import "suitcss-utils-display";
  @import "./avatar";
}

// Using Stylus variables makes for a nicer syntax but you do
// miss out on the SUIT conformance for custom properties.
Comment-user-font-size = 24px

:root
  --Comment-max-width: 700px
  --Comment-background-color-sm: #ff0000

.Comment
  max-width: var(--Comment-max-width)
  margin: rem(25)

.Comment-user
  font-size: Comment-user-font-size
