/** @define Avatar */

@css {
  @import "suitcss-utils-display";
  @import "./utils/img";
}

Avatar-img-border-radius = 5px

.Avatar
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #C4D0FF 100%)

.Avatar-img
  display: block
  border-radius: Avatar-img-border-radius
