/**
 * Base styles
 */

@css {
  @import "normalize-css";
}

base-link-color =             #069
base-link-color-hover =       base-link-color
base-color =                  inherit
base-font-family =            sans-serif
base-font-size =              1rem

@require "./functions"
@require "./theme"

html
  box-sizing: border-box
  font-size: base-font-size

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *::before, *::after
  box-sizing inherit

body
  font-family base-font-family
  color base-color

a
  color base-link-color

  &:hover
    color base-link-color-hover

img
  max-width 100%
  height auto