/** @define Comment */

@css {
  @import "suitcss-utils-display";
  @import "./avatar";
}

Comment-background-color  = #aaa
Comment-user-border-color = #ddd

@require './functions';
@require './theme';

.Comment
  max-width: 700px
  margin: rem(25)
  background-color: Comment-background-color

.Comment-user
  font-size: rem(14)
  border: 1px solid Comment-user-border-color
