/** @define Comment */

@css {
  @import "suitcss-utils-display";
  @import "./avatar";
}

Comment-bgColor  =         #aaa
Comment-user-borderColor = #ddd

@require "./functions";
@require "./theme";

.Comment
  max-width 700px
  margin rem(25)
  background-color Comment-bgColor

.Comment-user
  font-size rem(14)
  border 1px solid Comment-user-borderColor
