// -----------------------------------------------------------------------------
// Use the `@css` keyword to output normal import statements
// This ensures they get picked up by rework-npm and ignored by Stylus
//
// https://github.com/reworkcss/rework-npm
// -----------------------------------------------------------------------------

@css {
  @import "./base";
  @import "./comment";
  @import "./post";
  @import "./theme/suit";
}