/** @define Post */

@css {
  @import "suitcss-utils-display";
  @import "./avatar";
}

Post-background-color = #fff

@require './functions'
@require './theme'

.Post
  background-color: Post-background-color
  border-radius: 5px

.Post-content
  font-size: rem(18)
  color: #000
  // Alternatively you can use calc() here and it will go
  // through the rework-calc tool
  width: (100% / 3)

  &:hover
    color: green