/**
 * Colors
 */
$color-green = #5ac4be
$color-red = #e64c3b
$color-orange = #f2ab21

$color-gray-darker = #58585a
$color-gray-dark = #c1c4c5
$color-gray = #dadfe0
$color-gray-light = #ecf0f0

$color-brand-primary = $color-green

/**
 * Scaffolding
 */
$page-bg = $color-gray-light
$text-color = $color-gray-darker

/**
 * Typography
 */
$brand-font = "Fira Sans"
$font-family-base = "Helvetica Neue", Helvetica, Arial, sans-serif
$font-size-base = 16

$line-height-base = 1.4
